# <br><br><span style="color:purple">Python Bootcamp 1</span>

#### <br>*This is a Jupyter Notebook. To run a gray code cell, click in the cell and either click on the "Run" arrow, or type shift+enter (or shift+return on a Mac).*

In [3]:
print("Hello World!") #it's a print func

Hello World!

it's a print func

<br>When you type in the gray code cell and hit shift+enter, you **run** the code.
<br>If something gets printed out to the screen after you run the code, we say it is **returned**.

<br>Text cells like this one don't contain code. They are written in a language called Markdown. If you accidentally double click in a markdown cell, it won't cause any problems. Go ahead and double click on this text. Then you can run the cell, just like you would with a code cell, to return it to looking like nice formatted text. You can also type **bold**, _italic_, or <u>underscored</u> text.

## <br><br>Arithmetic operators

In [2]:
4 + 2

6

In [3]:
6 - 1

5

In [4]:
100 * 35

3500

In [5]:
40 / 6

6.666666666666667

To calculate an exponetial:

In [6]:
4 ** 2

16

In [7]:
3 ** 5

243

<br>You might notice that I've included spaces around the operators: 
<br>`4 + 2`
<br>instead of
<br>`4+2`
<br><br>This is best practice in Python because it is more readable. The math would work without spaces, but it's a good idea to get into the habit of writing "Pythonic" code now!

#### <br><br>More division operators:

In [8]:
40 / 6

6.666666666666667

We gave it **integers** (whole number objects) and it returned a **float**. The `/` division operator always returns a float.

<br>Get just the integer, without the remainder:

In [9]:
40 // 6

6

Get just the remainder:

In [10]:
40 % 6 # 40 mod 6

4

In [3]:
50.4 % 4

2.3999999999999986

<br><span style="color:crimson">Like many things you'll learn in this course, I'm not expecting you to memorize the operator for returning a remainder. If this is something you use a lot already in your own coursework, you might memorize it now. But if not, I just want you to hear about it so that if you ever need it months from now, you might remember that there is a way to do it so that you can google it and find the right code.</span>

<br>More practice:

In [11]:
40 / 5

8.0

In [12]:
40 // 5

8

In [13]:
40 % 5

0

In [14]:
30 // 4

7

#### <br><br>Python follows the PEMDAS (Parentheses, Exponents, Multiplication and Division (from left to right), Addition and Subtraction (from left to right)) order of operations: (https://thehelloworldprogram.com/python/python-operators-order-precedence/)

In [15]:
40 / 5 + 2

10.0

In [16]:
40 / (5 + 2)

5.714285714285714

In [17]:
40 + 2 * 6 - 1

51

In [18]:
(4 + 2) * (6 - 1)

30

In [30]:
2.718281 ** 2 * 7 - 5

46.723361164727

In [6]:
a = 2
print("My sis is " , a)
#a =* (a + a)
#print(a)

My sis is  2

In [1]:
#%pip install numpy
import numpy as np # this library is needed for exp and log
np.exp(2) * (1 + 6) - 5 
np.log(2.718)

np.float64(0.999896315728952)

In [ ]:
2.718281

In [20]:
(np.log(5) - 3) / 2 + 1

0.30471895621705014

Why did some lines of code return integers (30, 51) and one returned a float (10.0)? <br>The first line of code included division `/`, which you may remember always returns a float.

#### <br><br>Try out some math of your own:

## <br><br>Comparison operators

These return a **boolean** object: True or False.

In [21]:
3 > 2

True

In [22]:
3 < 2

False

In [23]:
3 >= 2

True

In [24]:
3 <= 2

False

To check if two things are **equal**, Python uses a double equals sign:

In [25]:
3 == 3

True

In [26]:
# No space between = and =
3 = = 3

SyntaxError: invalid syntax (Temp/ipykernel_6632/1671315643.py, line 2)

To check if two variables are **not equal**, Python uses `!=`:

In [8]:
3 != 3

False

In [9]:
3 != 2

True

In [10]:
# No space between ! and =
3 ! = 2

SyntaxError: invalid syntax (805721107.py, line 2)

## <br><br>Logical operators

These also return a **boolean**.

`and` means both sides must be True to return True:

In [11]:
3 < 4 and 4 == 3

False

`or` means only one side must be True to return True:

In [12]:
4 < 3 or 4 == 4

True

`not` is another logical operator. It reverses the boolean that follows it:

In [35]:
not 2 == 2

False

In [36]:
not 3 == 2

True

<br><br>Before running these cells, try to guess if they will return True or False:

In [34]:
not 2 > 3 and not 2 == 2

False

In [10]:
not 2 > 3 or not 2 == 2

True

In [11]:
3 == 3 and not 3 != 3

True

## <br><br>String objects

A **string** is an object kind of like text. It is contained in double `"` or single `'` quotes (you can choose which you want to use).

In [15]:
"Hello World"

'Hello World'

<br>Let's use our first function! It can be used on almost all classes of objects:

In [ ]:
print("Hello World")

<br>Strings can contain digits:

In [1]:
print("Hello World 2")

Hello World 2

<br>Strings can contain **special characters**. The most commonly used are new lines `\n`:

In [4]:
print("Hello World\nHow are you?")

Hello World
How are you?

<br>...and tabs `\t`:

In [38]:
print("Hello World\tHow are you?")

Hello World	How are you?

<br><br><br>If you simply **run** the string, it will return the string how it looks to the computer:

In [12]:
"Hello World\nHow are you?"

'Hello World\nHow are you?'

<br>...but if you use the `print()` function, it interprets the special characters and returns the string like this:

In [5]:
print("Hello World\nHow are you?\n123\n456\taaa")

Hello World
How are you?
123
456	aaa

<br><br>What happens if you forget the quotes around a string?

In [40]:
print("Hello World")

SyntaxError: invalid syntax (Temp/ipykernel_6632/4293340409.py, line 1)

<br>Our first error!! This is a common error - the `SyntaxError`. It often means that we forgot to type something.

In [6]:
pint("Hello World!")

NameError: name 'pint' is not defined

A `NameError` is another common error - it often means we've mispelled a function or variable.

<br><br>What error do you think we will get if we run this line of code?

In [41]:
print("Hello World)

SyntaxError: EOL while scanning string literal (Temp/ipykernel_6632/2771583741.py, line 1)

<br><br><br>Some arithmetic operators work with strings. To combine two strings:

In [42]:
print("Hello" + "World")

HelloWorld

In [43]:
print("Hello " + "World")

Hello World

In [44]:
print("Hello " + "World" + "!")

Hello World!

In [45]:
print("Hello World "*4)

Hello World Hello World Hello World Hello World

In [46]:
print("Hello World\n"*4)

Hello World
Hello World
Hello World
Hello World

## <br><br>Converting between data types

<br>The `type()` function tells us the data type of an object (in Python, a data type is exactly the same thing as an object class):

In [47]:
type("Hello World")

str

In [48]:
type(9)

int

In [49]:
type(9.9)

float

In [50]:
type("9.9")

str

<br>We can convert objects from one type to another, using the appropriate function:

In [51]:
float(9)

9.0

In [52]:
float("5")

5.0

In [53]:
int("5")

5

In [55]:
int(5.99)

5

Notice it doesn't round when it converts a float to an integer, it just drops off everything after the decimal.

In [56]:
str(5.005)

'5.005'

In [57]:
float("Hello World")

ValueError: could not convert string to float: 'Hello World'

<br>Our third type of error! `ValueError` usually means you passed an argument to a function that it doesn't recognize. But don't spend any brainpower trying to memorize this error. Luckily the error message gives us information about what we did wrong.

## <br><br>Data types interacting

Before running each of these cells, try to guess what they will return:

In [58]:
4 * 4.0

16.0

In [59]:
"Hello World" * 4

'Hello WorldHello WorldHello WorldHello World'

In [17]:
"Hello World" + "4"

'Hello World4'

In [18]:
"Hello World" * 4

'Hello WorldHello WorldHello WorldHello World'

<br>A `TypeError` means you tried to do something that doesn't work with the type of object you gave it. Sometimes `ValueErrors` and `TypeErrors` get thrown for similar errors.

In [ ]:
"Hello World" + str(4)

In [ ]:
"Hello World" + "4"

In [62]:
5 + True

6

In [63]:
5 + False

5

*True evaluates to 1, False evaluates to 0*

In [64]:
"5" + True

TypeError: can only concatenate str (not "bool") to str

## <br><br><br>Let's learn some new funcitons that work with integers and floats.

<br>The `abs()` function returns the absolute value of a number:

In [65]:
abs(-19.6)

19.6

<br>The `round()` function will round a float to a specified number of decimal places. It takes two arguments: the number to round and the number of decimal places.

In [14]:
my_number = 631.890382720

In [16]:
round(my_number, -2)

600.0

In [68]:
round(my_number, 2)

631.89

Some function arguments have default values, so if you don't include the argument, it will use the default value. Let's try `round()` without specifying a value for the second argument:

In [69]:
round(my_number)

632

In [70]:
int(my_number)

631

So the default value is to round to the closest integer.

`round()` can also round to places to the left of the decimal point:

In [71]:
round(18192948, -3)

18193000

<br>You can also put functions inside other functions:

In [ ]:
round(abs(-12.908))

In [ ]:
abs(round(-12.908))

In [ ]:
round(30 + 698, -1)

## <br><br><br>Variables

Variables allow you to store an object to use it later.

In [72]:
x = 3

Nothing is returned when you assign a variable. You can see the value of a variable by running the variable name or using the `print()` function

In [73]:
x

3

In [74]:
print(x)

3

<br>The single `=` is called an **assignment operator**.
<br>Everything on the right side of the assignment operator is calculated first, and then that value is stored as the variable on the left of the assignment operator.

In [75]:
x = 3 - 1

In [76]:
x

2

In [77]:
y = x

In [78]:
y

2

In [79]:
z = 'aaa'

In [80]:
z

'aaa'

In [81]:
x = x**y

In [82]:
x

4

In [83]:
y

2

In [84]:
rabbit = 50

Variables can be used just like the objects they represent:

In [85]:
rabbit - 20

30

In [86]:
rabbit

50

In [87]:
greeting = "Hello World!"

In [88]:
greeting

'Hello World!'

In [89]:
print(greeting)

Hello World!

# <br><br>BACK TO THE SLIDES